<div class="container">
  <div class="panel panel-kashmir">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-sign-in"></i>Please Sign-in 
      </h3>
    </div>

    <form ng-submit="login(person)" role="form" ng-init="person = {}">
      <fieldset>
        <div class="form-group">
          <input class="form-control" name="username" ng-model="person.username" placeholder="Username" type="username" autofocus required="required" />
        </div>
        <div class="form-group">
          <input class="form-control" name="password" ng-model="person.password" placeholder="Password" type="password" value="" required="required">
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
      </fieldset>
    </form>
  </div>

</div>
