<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="well">
        <div class="container-fluid">
          <div class="row" ng-repeat="board in allBoards" >
            <button class="btn btn-default" type="submit" ng-click="selectBoard(board.id)">{{board.name}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="well">
        <h2>{{selectedBoard.name}}</h2>
        <table datatable="" dt-options="dtCtrl.dtOptions" dt-columns="dtCtrl.cols" dt-instance="dtCtrl.dtInstance" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
          <thead>
            <tr>
              <td>Project</td>
              <td>Tasks</td>
              <td>Start Date</td>
              <td>End Date</td>
              <td>Effort</td>
              <td>Team</td>
              <td>Action</td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
