<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 well">
      <button class="btn btn-default" type="submit" ng-repeat="board in allBoards" ng-click="selectBoard(board.id)">{{board.name}}</button>
    </div>
    <div class="col-md-8 well">
      <table style="width:100%">
        <thead>
          <tr>
            <th>Project</th>
            <th># Tasks</th> 
            <th>Start</th>
            <th>End</th>
            <th>Effort</th>
            <th>Team</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="project in selectedBoard.projects">
            <td>{{project.name}}</td>
            <td>{{project.tasks.length}}</td> 
            <td>TBD</td>
            <td>TBD</td>
            <td>TBD</td>
            <td>{{project.teamString}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2 well">
      <h3>Details</h3>
    </div>

  </div>
</div>
